html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to bottom, red, rgb(243, 98, 122));
    background-repeat: no-repeat;
    background-size: auto;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

h1 {
    color: white;
    text-shadow: 2px 2px 4px black;
    margin-bottom: 30px;
}

.loader {
    border: 6px solid #f3f3f3; 
    border-top: 6px solid #3498db; 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 50s linear infinite;
    margin: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
.upload-area {
    border: 2px solid #ffffff; /* Changed border style for better visual cue */
    padding: 40px; /* Increased padding for a larger drop area */
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 100px;
    
    text-align: center;
    background: rgba(247, 247, 247, 0.9);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer; 
}

.upload-area.dragover {
    background-color: #e0e0e0; /* Change background color when dragging over */
    border-color: #555;
}

.upload-icon {
    font-size: 2em;
    margin-bottom: 10px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: rgb(253, 247, 247);
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.custom-file-upload:hover {
    background-color: #0056b3;
}

#fileName {
    margin-top: 10px;
    font-style: italic;
    color: #555;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button:hover {
    background-color: #1e7e34;
}

#message {
    margin-top: 20px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px black;
}